<app-card [cardTitle]="title" >
    <app-input 
        inputType="text" 
        [(inputValue)]="inputValue"
    ></app-input>

    <br>
    <br>

    Create page: {{ inputValue }}

    <br>
    <br>

    <app-button
        [buttonLabel]="labelIncrement"
        (buttonClicked)="increment()">
    </app-button>

    <app-button 
        [buttonLabel]="labelDecrement"
        (buttonClicked)="decrement()">
    </app-button>

    Count: {{ count }}

    <br>
    <br>

    <app-dropdown
        [options]="cars"
        [(selectedValue)]="currentCar">
    </app-dropdown>

    <br>
    <br>

    Selected car: {{ currentCar }}

    <div class="div">
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
    </div>
</app-card> 

<app-card cardTitle="XPTO" >
    <div class="div">
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
    </div>
</app-card> 