<app-card [cardTitle]="title" >
    <app-input 
        inputType="text" 
        [inputValue]="inputValue"
        (inputValueChange)="inputValue = $event"
    ></app-input>
    <button (click)="onClick()"></button>
    <div class="div">
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
        <p>Paragraph</p>
    </div>
</app-card> 

<app-card cardTitle="XPTO" >
    <div class="div">
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
        <p>Paragraph XPTO</p>
    </div>
</app-card> 