<app-card [cardTitle]="title" >

    <ul>
        <li *ngFor="let track of trackList; let i = index">
            <span 
                [attr.contenteditable]="!track.isResolved"
                [style.textDecoration]="track.isResolved ? 'line-through' : 'none'"
                (blur)="editTrack2(track, $event)">{{ track.trackName }}</span>
            <app-button
                buttonLabel="Remove"    
                (buttonClicked)="removeTrack(track.trackId)">
            </app-button>
            <app-button
                [isDisabled]="track.isResolved"
                buttonLabel="Resolve"
                (buttonClicked)="resolveOrUnresolveTrack(track.trackId, true)">
            </app-button>
            <app-checkbox
                [checkboxMessage]="checkboxMessage"
                [checkboxId]="checkboxId+i"
                [checkboxValue]="track.isListened"
                (checkboxValueChange)="trackListened(track.trackId)">
            </app-checkbox>

            <!-- <span>{{ trackMessage }}</span>
            <app-input 
                inputType="checkbox">
            </app-input> -->
        </li>
    </ul>

    <app-input 
        [(inputValue)]="inputValue"
        inputType="text">
    </app-input>

    <app-button 
        buttonLabel="Add"
        [isDisabled]="inputValue.trim().length <= 3" 
        (buttonClicked)="addTrack()">
    </app-button>

    <br>
    <br>

    Track List Array: {{ trackList | json }}
    <br>

</app-card> 

<app-card
    [cardTitle]="resolvedListTitle">

    <ul>
        <li *ngFor="let track of resolvedTracks()">
            <span>{{track.trackName}}</span>
            <app-button  
                buttonLabel="Unresolve"
                (buttonClicked)="resolveOrUnresolveTrack(track.trackId, false)">
            </app-button>
        </li>
        
    </ul>
</app-card>
